body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > * {
  padding: 10px 300px;
}

.dark-bg {
  background-color: #1F2937;
}

header a, a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  font-weight: 900;
  font-size: 24px;
  color: #F9FAF8;
  margin-right: auto;
}

.banner {
  display: flex;
  padding: 80px 0;
  justify-content: space-between;
  align-items: center;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
  margin: 5px;
}

button {
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  font-size: 16px;
}

.btn-default {
  background-color: #3882F6;
  color: #F9FAF8; 
}

.btn-hollow {
  background: none;
  border: 2px solid #F9FAF8; 
  color: #F9FAF8;
}

.hero-text {
  width: 500px;
}

.hero-image {
  width: 600px;
  background-color: gray;
  color: #F9FAF8;
  padding: 100px 0;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.figures {
  display: flex;
  justify-content: space-between;
}

.information h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

figure {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0;
}

figure img {
  border: 1px #3882F6 solid;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

figcaption {
  margin: 0 10px;
  font-weight: 100;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px 500px;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1F2937;
  flex-shrink: 0;
  margin: 0;
}

.quote-author {
  margin: 0;
  margin-left: auto;
  font-size: 20px;
  font-weight: 900;
}

.cta {
  display: flex;
  background-color: #3882F6;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  margin: 80px;
  padding: 40px 70px;
  color: #F9FAF8;
}

.cta h1, p {
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #F9FAF8;
}