body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > * {
  padding: 10px 300px;
}

.dark-bg {
  background-color: #1F2937;
}

header a, a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  font-weight: bold;
  font-size: 24px;
  color: #F9FAF8;
  margin-right: auto;
}

.banner {
  display: flex;
  padding: 80px 0;
  justify-content: space-between;
  align-items: center;
}

.hero-main {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  margin: 0;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
  margin: 5px;
}

button {
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-default {
  background-color: #3882F6;
  color: #F9FAF8; 
}

.hero-text {
  width: 500px;
}

.hero-image {
  width: 600px;
  background-color: gray;
  color: #F9FAF8;
  padding: 100px 0;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.figures {
  display: flex;
  justify-content: space-between;
}

.information h1 {
  width: 1000px;
  text-align: center;
}

figure {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0;
}

figure img {
  border: 1px #3882F6 solid;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

figcaption {
  margin: 0 10px;
}